apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: microservices-demo
spec:
  selector:
    app: product-service
  type: NodePort
  ports:
    - name: http
      port: 80
      targetPort: 8082
      nodePort: 30082