apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: microservices-demo
  labels:
    app: user-service
spec:
  selector:
    matchLabels:
      app: user-service
  replicas: 2
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: userservicecontainer
        image: 44.197.198.227/microservices/user-service:latest
        ports:
        - containerPort: 8081
          protocol: TCP
