apiVersion: v1
kind: Namespace
metadata:
  name: microservices-demo
---
apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: microservices-demo
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: rootpass
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
  namespace: microservices-demo
data:
  MYSQL_DATABASE: users_db
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: microservices-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_ROOT_PASSWORD
            - name: MYSQL_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: mysql-config
                  key: MYSQL_DATABASE
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: microservices-demo
spec:
  selector:
    app: mysql
  ports:
    - port: 3306
      targetPort: 3306
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: user-service-config
  namespace: microservices-demo
data:
  SPRING_DATASOURCE_URL: "jdbc:mysql://mysql.microservices-demo.svc.cluster.local:3306/users_db"
  SPRING_JPA_HIBERNATE_DDL_AUTO: "update"
  SPRING_JPA_DATABASE_PLATFORM: "org.hibernate.dialect.MySQLDialect"
---
apiVersion: v1
kind: Secret
metadata:
  name: user-service-secret
  namespace: microservices-demo
type: Opaque
stringData:
  SPRING_DATASOURCE_USERNAME: "root"
  SPRING_DATASOURCE_PASSWORD: "rootpass"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: microservices-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: userservicecontainer
          image: 34.239.160.82/microservices/user-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8081
          envFrom:
            - configMapRef:
                name: user-service-config
            - secretRef:
                name: user-service-secret
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: microservices-demo
spec:
  selector:
    app: user-service
  ports:
    - name: http
      port: 80
      targetPort: 8081
  type: ClusterIP
