apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: microservices-demo
spec:
  selector:
    app: user-service
  ports:
    - name: http
      port: 80
      targetPort: 8081
  type: ClusterIP
