apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: microservices-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      imagePullSecrets:
        - name: harbor-pull
      containers:
        - name: orderservicecontainer
          image: 35.170.69.37:80/microservices/order-serviceatest:dbfix
          imagePullPolicy: Always
          ports:
            - containerPort: 8083
          envFrom:
            - configMapRef:
                name: order-service-config
            - secretRef:
                name: user-service-secret