apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: microservices-demo
spec:
  selector:
    app: order-service
  type: NodePort
  ports:
    - name: http
      port: 80
      targetPort: 8083
      nodePort: 30083