apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: microservices-demo
spec:
  type: ClusterIP
  selector:
    app: user-service
  ports:
    - name: http
      port: 80
      targetPort: 8083
