name: Terraform Infra

on:
  workflow_dispatch:

concurrency:
  group: terraform-infra
  cancel-in-progress: false

jobs:
  terraform:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: infra

    env:
      TF_IN_AUTOMATION: "true"

      # Terraform variables (TF_VAR_*)
      TF_VAR_aws_region: ${{ secrets.AWS_REGION }}
      TF_VAR_key_name: ${{ secrets.TF_VAR_KEY_NAME }}
      TF_VAR_instance_type: ${{ secrets.TF_VAR_INSTANCE_TYPE }}
      TF_VAR_allowed_ssh_cidr: ${{ secrets.ALLOWED_SSH_CIDR }}
      TF_VAR_allowed_client_cidr: ${{ secrets.ALLOWED_CLIENT_CIDR }}

      # K8s cluster variables
      TF_VAR_k8s_control_instance_type: ${{ secrets.TF_VAR_K8S_CONTROL_INSTANCE_TYPE }}
      TF_VAR_k8s_worker_instance_type: ${{ secrets.TF_VAR_K8S_WORKER_INSTANCE_TYPE }}
      TF_VAR_k8s_worker_count: ${{ secrets.TF_VAR_K8S_WORKER_COUNT }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.8

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Format Check
        run: terraform fmt -check -recursive

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -input=false -out=tfplan

      - name: Terraform Apply
        run: terraform apply -input=false -auto-approve tfplan
